HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Local planning docs ###
END_TO_END_TRACING_PLAN.md
LLM_OPTIMIZATION_ROLLOUT_PLAN.md
src/main/resources/两个人的对接报告.md
src/main/resources/提交规范.jpg
src/main/resources/架构.md
